.nav-wrapper{
    
    display: flex;
    justify-content: space-between;
}
.logo img{
    height:100px;
}
.nav{
    display:inline-flex;
    
}
.menu{
    display:flex;  
    list-style: none;
    
}
.menu li{
    padding: 30px 50px;    
}
.menu li:hover{
    box-shadow: 0 -5px 0px var(--seafood-blue) inset, 500px 0 0 rgba(119, 75, 43, 0.06) inset;
    
}
.menu li a{
    text-decoration: none;
    font-size: 1.2rem;
    color:var(--seafood-blue);
}
.menu li a:hover{
    font-size: 1.5rem;
}
.hamburger{
    height: 5px;
    width: 30px;
    background:var(--seafood-blue);
    border-radius: 2px;
}

